apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
type: Opaque
data:
  AWS_ACCESS_KEY_ID: "your_encoded_key_id"
  AWS_SECRET_ACCESS_KEY: "your_encoded_access_key"
stringData:
  AWS_BUCKET_NAME: "name_your_bucket"
  AWS_REGION_NAME: "eu-central-1"